<ol id="entries">
  {{#each this}}
    <li class="entry">
      <svg class="icon-wrapper page-icon">
        <image class="icon" xlink:href="/icons/file-lines-regular.svg"/>
      </svg>
      <div class="entry-content">
        <p class="date">{{format_date entry_date}}</p>
        <p class="weight">{{entry_weight}} lbs</p>
        <div class="entry-buttons">
          <a class="btn" href="/entries/edit/{{id}}">edit</a>
        </div>
        <p class="notes">{{entry_text}}</p>
        <p class="tags">
          {{#each tags}}
            <span class="tag">{{tag_name}}</span>
          {{/each}}
        </p>
      </div>

    </li>
  {{/each}}
</ol>