<li class="entry item" data-id="{{id}}">
  <article class="item-icon-container">
    <svg class="icon-wrapper item-icon">
      <image class="icon" xlink:href="/icons/entry-solid.svg" />
    </svg>
  </article>

  <article class="entry-content">
    <p class="date">{{entry_date}}</p>
    <p class="weight">{{entry_weight}} lbs</p>
    <p class="notes">{{entry_text}}</p>
    <p class="tags">
      {{#each tags}}
        <span class="tag">{{tag_name}}</span>
      {{/each}}
    </p>
  </article>

  <article class="item-options">
    <svg class="icon-wrapper delete-btn">
      <image class="icon" xlink:href="/icons/delete-solid.svg" />
    </svg>
    <a href="/entries/edit/{{id}}">
      <svg class="icon-wrapper edit-entry-btn">
        <image class="icon" xlink:href="/icons/pen-solid.svg" />
      </svg>
    </a>
  </article>
</li>