<li class="journal" data-id="{{id}}">
  <a href="/journals/{{id}}">
    <svg class="icon-wrapper journal-icon">
      <image class="icon" xlink:href="/icons/book-solid.svg" />
    </svg>
  </a>

  <div class="journal-description">
    <h3 class="title">{{title}}</h3>
    <p class="description">{{description}}</p>
    <p>{{entries.length}} {{format_plural "entry" entries.length}}</p>
  </div>
  
  <div class="journal-options">
    <button class="btn delete-journal-btn">delete</button>
    <a class="btn" href="/journals/edit/{{id}}">edit</a>
  </div>
</li>