<li class="journal item" data-id="{{id}}">
  <a class="journal-link" href="/journals/{{id}}">
    <svg class="icon-wrapper journal-icon">
      <image class="icon" xlink:href="/icons/book-solid.svg" />
    </svg>
  </a>

  <article class="journal-description">
    <h3 class="title">{{title}}</h3>
    <p class="description">{{description}}</p>
    <p>{{entries.length}} {{format_plural "entry" entries.length}}</p>
  </article>

  <article class="journal-options">
    <svg class="icon-wrapper delete-journal-btn">
      <image class="icon" xlink:href="/icons/delete-solid.svg" />
    </svg>
    {{! <button class="btn delete-journal-btn">delete</button> }}
    <a class="btn" href="/journals/edit/{{id}}">
      <svg class="icon-wrapper edit-journal-btn">
        <image class="icon" xlink:href="/icons/pen-solid.svg" />
      </svg>
    </a>
  </article>
</li>