<article class="journal" data-id="{{id}}">
  {{! bug | using format_date helper displays the wrong date }}
  <p class="journal-details">s. {{start_date}}</p>
  <p class="journal-details">e. {{end_date}}</p>
  <p class="journal-details">{{entries.length}} {{format_plural "entry" entries.length}}</p>
  <p class="journal-details">{{duration}} {{format_plural "week" duration}}</p>
  <p class="description">{{description}}</p>
</article>