<article class="journal" data-id="{{id}}">
  <a href="/journals/{{id}}">
    <svg class="icon-wrapper journal-icon">
      <image class="icon" xlink:href="/icons/book-solid.svg" />
    </svg>
  </a>

  <div class="journal-info">
    <h3 class="title">{{title}}</h3>
    <p class="description">{{description}}</p>

    {{! bug | using format_date helper displays the wrong date }}
    <p>s. {{start_date}}</p>
    <p>e. {{end_date}}</p>
    <p>{{duration}} {{format_plural "week" duration}}</p>
    <p>{{entries.length}} {{format_plural "entry" entries.length}}</p>
  </div>
</article>