<li class="journal">
  <a href="/journal/{{id}}">
    <h3 class="title">{{id}} &middot; {{title}}</h3>

    <div class="details">
      <p>s. {{format_date start_date}}</p>
      <p>e. {{format_date end_date}}</p>
      <p>12 {{format_plural "week" duration}}</p>
      <a href="/journal/{{id}}">
        {{entries.length}}
        {{format_plural "entry" entries.length}}
      </a>
    </div>
  </a>
</li>