<form class="form" id="journal-form">
  <article class="journal-text input-wrapper" id="title-wrapper">
    <label for="journal-title">Title</label>
    <input class="input" type="text" id="journal-title" value="{{title}}" maxlength="50"/>
  </article>

  <article class="journal-text input-wrapper" id="description-wrapper">
    <label for="journal-description">description <span id="char-count">0</span>/75</label>
    <textarea class="input" id="journal-description" maxlength="75">{{description}}</textarea>
  </article>

  <article class="input-wrapper date" id="start-date-wrapper">
    <label for="journal-start">start date</label>
    <input
      class="date-details input"
      type="date"
      id="journal-start"
      value="{{start_date}}"
    />
  </article>

  <article class="input-wrapper date" id="end-date-wrapper">
    <label for="journal-end">end date</label>
    <p id="journal-end" class="date-details">{{end_date}}</p>
  </article>

  <article class="input-wrapper date" id="duration-wrapper">
    <label for="journal-duration">duration</label>
    <div>
      <select id="journal-duration" class="date-details">
        <option class="input">{{duration}}</option>
      </select> 
      <span class="time">weeks</span>
    </div>
  </article>

  <article class="button-wrapper btn">
    <svg class="icon-wrapper page-icon submit-btn " id="save-btn">
      <image class="icon" xlink:href="/icons/add-solid.svg" />
    </svg>
  </article>
</form>